.cuadriculas{
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
    display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.box{
    border: 2px solid #ffa94c;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1en;
    color: #d9480f;
    display: grid;
    grid-template: repeat(3,1fr);
    gap: 5px;
    box-sizing: border-box;
}
.nested{
    border: 2px solid #ffec99;
    border-radius: 5px;
    background-color: #fff9db;
    padding: 1en;
    box-sizing: border-box;
}
.box2 , .box3 , .box4 , .box5{
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1en;
    color: #d9480f;
    text-align: center;
}